@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

a{
    color: #3c96ed;
    text-decoration: none;
}

body{
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper{
    height: 100vh;
}

#container{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;

}

.column{
    flex-grow: 1; /*as 2 colunas vão disputar o mesmo espaço, dividir meio a meio.*/
    width: 50%;
}

.left{
    background-image: url(imagens/main-foto.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    margin-bottom: 50px;
}

.right{
    
}